@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(pacote/pacote-projeto-d010/fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root{
    --fonte0: Arial, Verdana, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --fonte2: 'Android', sans-serif;

    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte0);
    text-decoration: none;
}

a.externo::after{
    content: '\1F517';
}

header{
    background-image: linear-gradient(180deg, var(--cor2), var(--cor5));
    color: white;
    min-height: 130px;
}

header > h1 {
    font-family: var(--fonte1);
    font-size: 3em;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: lighter;
}

header > p {
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

header > nav {
    padding-bottom: 5px;
}

header > nav > a {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    color: var(--cor2);
    font-weight: bold;
    transition-duration: 1s;
}

header > nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor4);
    
}

body{
    background-color: var(--cor0);
    line-height: 1.5em;
}

main{
    background-color: white;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding: 20px;
}

main h1,h2{
    font-family: var(--fonte2);
}

main h1{
    color: var(--cor5);
    padding: 10px;
}

main h2{
    color: #1a5c37;
    background-image: linear-gradient(90deg, var(--cor1), rgb(255, 255, 255));
    text-indent: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 10px;
}

main p{
    text-align: justify;
    text-indent:40px;
    margin: 15px;
}

main strong{
    color: var(--cor4);
}

main a{
    font-weight: bold;
    color: var(--cor4);
    background-color: var(--cor1);
    padding: 1px;
    border-radius: 3px;
}

main p > a:hover{
    text-decoration: underline;
    color: var(--cor3);
}

main img{
    width: 100%;   
}

main img.foto{
    max-width: 350px;
    display: block;
    margin: auto;
}

main div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color:var(--cor1) ;
    border-radius: 10px;
    padding: 10px;
}

aside > h3{
    background-color: var(--cor5);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

aside > ul{
    columns: 2;
    list-style-position: inside;
    list-style-type: '\2714\00A0';
}

footer{
    background-color: var(--cor5);
    text-align: center;
    color: var(--cor1);
}

footer a{
    color: white;
}

footer a:hover{
    color: var(--cor0);
}